<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!-- <h1>You're in default components</h1>

<h1>Angular Routing Example</h1>

<p><a routerLink="/user">User Page</a></p>

<p><a routerLink="/userdetails">User Detail Page</a></p>

<router-outlet></router-outlet> -->


<div class="container">

    <button mat- button [matMenuTriggerFor]="aboveMenu" routerLink="/user">User</button>

    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat- button [matMenuTriggerFor]="belowMenu" routerLink="/userdetails">User Detail</button>

    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat- button [matMenuTriggerFor]="beforeMenu" routerLink="/info">Info</button>

    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

</div>

<div class="container" style="padding: 30px;">
    <router-outlet></router-outlet>
</div>
<h1>You're in default components</h1>

<app-childcomp [names]="name"></app-childcomp>